<html>
  <head>
    <title><%= title %></title>
    
	<%- include ../partials/head %>
	<link rel='stylesheet' href='/stylesheets/about.css' />
  </head>
  <body class="container">
    
<header>
<%- include ../partials/header %>
</header>
<h1>Pet Rescue Wish List</h1>
<div class="jumbo well">


<p> We are looking for some supplies to make our pets comfortable living here and to help them find their new homes. If you would like to see an item put to good cause, we always have use for the following items.</p>
<ul>
<li>Canadian tire money to purchase some items.</li>
<li> Gift cards for stores which have pet supply</li>
<li>Beds for pets</li>
<li>Brushes, combs and any other equipment for grooming pets</li>
<li>Dog foods</li>
<li>Easy walk harnesses</li>
<li>Money donations to help us pay vet bills </li>
	<li>Puzzle balls</li>
		<li>Washable dog toys</li>
			<li>Training treats </li>
</ul>
    <p> You can contact for donation at 226-853-1258.</p>
</div>







	
	
	<footer>
	<%- include ../partials/footer %>
	</footer>


	</body>
</html>
