<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
   <%- include ../partials/head %>
   <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body class="container">
    
<header>
<%- include ../partials/header %>
</header>

<div class="jumbo">
<h1> Welcome to our Pet Adoption Site</h1>
<h2> Every abondoned animal deserves to be loved and cared</h2>

<div class="row">

		<div class="col-md-4">
		<img src="images/img(13).jpg" alt= "image display not available" class="img-rounded img-responsive">
		<h4>Name:</h4><p> Jacky</p><br>
		<h4>Gender:</h4><p> Male</p><br>
		<h4>Age(Years/Months):</h4><p> 8 months</p>
		</div>
		<div class="col-md-4">
		<img src="images/img(2).jpg" alt= "image display not available" class="img-rounded img-responsive">
		<h4>Name:</h4><p> Buster</p><br>
		<h4>Gender:</h4><p> Male</p><br>
		<h4>Age(Years/Months):</h4><p> 2 months</p>
		</div>
		<div class="col-md-4">
		<img src="images/img(3).jpg" alt= "image display not available" class="img-rounded img-responsive">
		<h4>Name:</h4><p> Kacey</p><br>
		<h4>Gender:</h4><p> Female</p><br>
		<h4>Age(Years/Months):</h4><p> 1 year 2 months</p>
		</div>

</div>
<div class="row">

		<div class="col-md-4">
		<img src="images/img(4).jpg" alt= "image display not available" class="img-rounded img-responsive">
		<h4>Name:</h4><p> Lucky</p><br>
		<h4>Gender:</h4><p> Female</p><br>
		<h4>Age(Years/Months):</h4><p> 1 month</p>
		</div>
		<div class="col-md-4">
		<img src="images/img(5).jpg" alt= "image display not available" class="img-rounded img-responsive">
		<h4>Name:</h4><p> Bruno</p><br>
		<h4>Gender:</h4><p> Male</p><br>
		<h4>Age(Years/Months):</h4><p> 10 months</p>
		</div>
		<div class="col-md-4">
		<img src="images/img(6).jpg" alt= "image display not available" class="img-rounded img-responsive">
		<h4>Name:</h4><p> Buddy</p><br>
		<h4>Gender:</h4><p> Male</p><br>
		<h4>Age(Years/Months):</h4><p> 2 years 1 month</p>
		</div>

</div>
<div class="row">

		<div class="col-md-4">
		<img src="images/img(7).jpg" alt= "image display not available" class="img-rounded img-responsive">
		<h4>Name:</h4><p> Meagan</p><br>
		<h4>Gender:</h4><p> Female</p><br>
		<h4>Age(Years/Months):</h4><p> 1 month</p>
		</div>
		<div class="col-md-4">
		<img src="images/img(8).jpg" alt= "image display not available" class="img-rounded img-responsive">
		<h4>Name:</h4><p> Sally</p><br>
		<h4>Gender:</h4><p> female</p><br>
		<h4>Age(Years/Months):</h4><p> 3 Years 6 months</p>
		</div>
		<div class="col-md-4">
		<img src="images/img(9).jpg" alt= "image display not available" class="img-rounded img-responsive">
		<h4>Name:</h4><p> Olivia</p><br>
		<h4>Gender:</h4><p> Female</p><br>
		<h4>Age(Years/Months):</h4><p> 2 months</p>
		</div>

</div>
<div class="row">

		<div class="col-md-4">
		<img src="images/img(10).jpg" alt= "image display not available" class="img-rounded img-responsive">
		<h4>Name:</h4><p> Bonny</p><br>
		<h4>Gender:</h4><p> Female</p><br>
		<h4>Age(Years/Months):</h4><p> 4 months</p>
		</div>
		<div class="col-md-4">
		<img src="images/img(11).jpg" alt= "image display not available" class="img-rounded img-responsive">
		<h4>Name:</h4><p> Clement</p><br>
		<h4>Gender:</h4><p> Male</p><br>
		<h4>Age(Years/Months):</h4><p> 5 months</p>
		</div>
		<div class="col-md-4">
		<img src="images/img(12).jpg" alt= "image display not available" class="img-rounded img-responsive">
		<h4>Name:</h4><p> Sandy</p><br>
		<h4>Gender:</h4><p> Female</p><br>
		<h4>Age(Years/Months):</h4><p> 8 months</p>
		</div>

</div>







	
	<footer>
	<%- include ../partials/footer %>
	</footer>


	</body>
</html>
