@charset "UTF-8";

legend
{
	text-align:center;
}
h1
{
	font-family: 'Lobster', cursive;
	color: rgb(11,43,119);
}

h1,h3
{
	text-align: center;
}

#submit
{
	text-align:center;
}
body {
	background: url("../images/bg1.png");
}